<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>address-search</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>AddressSearch</servlet-name>
		<servlet-class>gsi.cyberjapan.addresssearch.AddressSearchServlet</servlet-class>
		<init-param>
			<param-name>maxRecords</param-name>
			<param-value>1000000</param-value>
		</init-param>
		<init-param>
			<param-name>data</param-name>
			<param-value>/WEB-INF/data/chimei_utf8.dat</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddressSearch</servlet-name>
		<url-pattern>/AddressSearch</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>gzipFilter</filter-name>
		<filter-class>gsi.cyberjapan.addresssearch.GZIPFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>gzipFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
</web-app>